*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}


.main1{
    display: flex;

}

li{
    padding: 20px;
    text-transform: uppercase;
    margin-left: 100px;
    list-style: none;
    /* height; */

    
}

li:hover{
    background-color: white;
    border-radius: 45%
}

a{
    text-decoration: none;
    color: black;
}
.navigation{
    background-color: rgb(228, 207, 207);
    position: fixed;
    width: 100%;
}

#container{
    background-color: aqua;
    height: 450px;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmFja2dyb3VuZCUyMGZvb2R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
   
}

#container h1{
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

#container p{
    font-size: 20px;
    margin-top: 60px;
    text-align: center;
}




/*details of our services*/




#details{
    display: flex;
   
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-top: 70px;
    /* padding: 10px; */
    text-align: center;
    height: 600px;


}


.item{
    height: 360px;
    width: 400px;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(238, 209, 209);
    margin-top:30px;
    z-index: -1;
   
}

.item img{
    height: 200px;
    width: 300px;
    
}
.item:hover{
    box-shadow: 7px 7px 2px  rgb(145, 115, 120);
    /* animation: abc 10s infinite; */
    /* z-index: -1; */
overflow-x: hidden;
    
}

.item{
    transform: translatez(360px);
}


/*client details started from here */
.main{
    width: 100%;
    display: flex;
}

.main h3{
    text-align: center;
    margin-top:-100px;
    text-align: center;
    margin-left: 600px;
    float: left;
    font-size: 30px;
}


#client{
    margin-top:20px;
    height: 400px;
    width: 100%;
    margin-left: -670px;
    opacity: 0.9;
    background: url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNsaWVudCUyMGJhY2tncm91bmR8')no-repeat center center/cover;
}

#client img{
    width: 200px;
    height: 140px;
    margin-left: 200px;
    margin-top: 100px;
}





#contact{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('https://images.unsplash.com/photo-1688399014730-86300f19fbb3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80') no-repeat center center/cover;
}

#contact input{
    width: 70%;
    margin: 20px 20px;
    padding: 10px;
}

#contact textarea{
    height: 200px;
    width: 400px;
    margin: 20px 20px;
    display:inline-block;
}

input[type="button"]:hover{

    background-color: rgb(190, 136, 65);
}

.logos{
    height: 60px;
    width: 100%;
    background-color: black;
}

.logos i{
    font-size: 30px;
    color:white;
    margin-left: 550px;
    margin-top:15px;
}

.logos i:nth-child(even){
    margin-left: 20px;
}

.logos i:nth-child(odd){
    margin-left: 600px;
}

#logo3{
    margin-left: 20px;
}
/*Responsive website start from here */







@media screen and (max-width:1335px){
    .item{
width: 100%;
    }
    #client{
        margin-top: 800px;
    }

    .main h3{
        margin-top:700px;
        margin-left:400px;
        text-align: center;
    }

    #client{
        float: left;
        margin-left:-480px;
       
    }

    #client img{
        margin-top: 50px;
    }
    #client img:nth-child(odd){
        margin-left:50px;
        
    }

    .logos i{
       margin-right: -170px;
    }
    
}







/*second media screen */

@media screen and (max-width:835px){
    #container{
        height: 600px;
    }
    .main1{
        /* display:flex; */
        /* flex-direction:row; */
        display: inline-block;
        /* text-align: center; */
        position:sticky;
        /* background-attachment:local; */
        /* padding: 0px; */
    }
    .navigation{
        background-color: rgb(204, 196, 184);
        position: none;
    }

    li{
        padding: 10px;
        margin-left: 350px;
        text-align: center;
    }
    #container h1{
        margin-top:200px;
    }

    #container{
        width: 100%;
    }

    .logos i{
        padding:0px;
        margin: 0px;
        margin-top: -10px;
        margin-right: 200px;
    }

    #client{
        opacity: 1;
    }

    /*facebook */
    #logo1{
        margin-top: 20px;
        margin-left: -280px;
    }


    /*instagram */
    #logo2{
        float: left;
        margin-top: -20px;
        /* margin: -0px; */
        margin-left: 400px;
        margin-top: 20px;
    
    }

    /* twitter */
    #logo3{
        float: left;
        /* margin-top: -100px; */
        /* margin: -0px; */
        margin-left: 450px;
        margin-top: -30px;
    
    }
    

    /*youtube */
    #logo4{
        float: left;
        margin-top:-30px;
        margin-left: 500px;
        /* margin: -0px; */
    
    }
}



@media screen and (max-width:720px) {
    li{
        text-align: center;
        margin-left: 300px;

    }
    .main h3{
        margin-left: 300px;
    }
    #client{
        margin-left: -375px;
    }
    
    #logo1{
        margin-left: 200px;
    }
    #logo2{
        /* margin-left: 200px; */
        margin-top: -30px;
        margin-left: 250px;
    }
    #logo3{
        /* margin-left: 200px; */
        margin-left: 300px;
    }
    #logo4{
        margin-left: 350px;
    }

}


/*next */
@media screen and (max-width:510px) {
    #client{
        height: 780px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* text-align: center; */
    }

    #client img{
        margin-left: 80px;
    }
    
    li{
        margin-left: 200px;
    }
}



@media screen and (max-width:428px) {

    #contact textarea{
        width: 320px;
    }

    #logo1{
        margin-left: 100px;
    }
    #logo2{
        margin-left: 140px;
    } 
    #logo3{
        margin-left: 180px;
    }
    #logo4{
        margin-left: 220px;
    }

    li{
        margin-left: 160px;
    }

    .main h3{
        margin-left: 170px;
    }

    #client{
        margin-left: -242px;
    }
    #container{
        height: 650px;
    }
}